@import "keep-react/src/main.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slider.slick-initialized {
    overflow: hidden;
}


/* index.css */


.poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}
